<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Post Detail
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @english, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @english.title%></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>
                   Example
                  <% if @english.favorited_by?(current_user) %>
                   <%= link_to english_favorite_path(@english), method: :DELETE do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                    <%= @english.favorites.count %>like
                   <% end %>
                   <% else %>
                    <%= link_to english_favorites_path(@english) , method: :POST do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <%= @english.favorites.count %>like
                   <% end %>
                 <% end %>
                  </th>
                </tr>
                <tr>
                  <td><%= simple_format @english.body %></td>
                </tr>
            </table>

            <% if @english.user.id == current_user.id %>
              <%= link_to "Edit", edit_english_path(@english), class: "button is-success"%>
            <% end %>
            </div>
          </div>
        </div>
      </div>

<div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @english.user.username %>
          </p>
           <div class="panel-block">
            <p class="control">
              <%= @english.user.profile %>
            </p>
          </div>
        <%= link_to user_path(@english.user), class: "panel-block" do %>
       <span class="panel-icon">
        <i class="fas fa-user" aria-hidden="true"></i>
       </span>
        To <%= @english.user.username %>'s page
       <% end %>
      </article>
     </div>
    </div>
  </div>
</section>
