<!DOCTYPE html>
<html>
  <head>
    <title>Englishgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
     <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

     <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

   <nav class="navbar is-warning">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-iteam" do %>
    <h1 class="title is-4" style="font-family: cursive;">Englishgram</h1>
      <% end %>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
      </div>
    </div>

    <% if user_signed_in? %>
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-item">
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to "English Learners", users_path, class: "button is-warning is-light" %>
                </p>
                <p class="control">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button is-warning is-light" %>
                 </p>
              </div>
            </div>
          </div>
        </div>
    <% else %>
       <div id="navbarExampleTransparentExample" class="navbar-menu">
         <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to "Log in", new_user_session_path, class: "button is-warning is-light" %>
                </p>
                <p class="control">
                  <%= link_to "Sign in", new_user_registration_path, class: "button is-warning is-light" %>
                </p>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    </nav>
    <%= yield %>
  </body>
</html>
